[submodule "sites/all/themes/progressive"]
	path = sites/all/themes/progressive
	url = git@github.com:edwinphillips/progressive.git
	branch = castle-school
[submodule "sites/all/modules/progressive_cms"]
	path = sites/all/modules/progressive_cms
	url = git@github.com:edwinphillips/progressive_cms.git
	branch = master
[submodule "sites/all/modules/nikadevs_cms"]
	path = sites/all/modules/nikadevs_cms
	url = git@github.com:edwinphillips/nikadevs_cms.git
	branch = master
[submodule "sites/all/modules/md_slider"]
	path = sites/all/modules/md_slider
	url = git@github.com:edwinphillips/md_slider.git
	branch = master
[submodule "sites/all/libraries/ckeditor"]
	path = sites/all/libraries/ckeditor
	url = git@github.com:edwinphillips/drupal-library-ckeditor.git
	branch = master
[submodule "sites/default/files"]
	path = sites/default/files
	url = git@github.com:edwinphillips/castleschool-drupal-default-files.git
	branch = master
[submodule "sites/all/modules/castleschool"]
	path = sites/all/modules/castleschool
	url = git@github.com:edwinphillips/castleschool-drupal-module.git
