[submodule "sites/all/themes/progressive"]
	path = sites/all/themes/progressive
	url = git@gitlab.bluegrape.uk:drupal-themes/progressive-1.5.git
[submodule "sites/all/modules/progressive_cms"]
	path = sites/all/modules/progressive_cms
	url = git@gitlab.bluegrape.uk:drupal-modules/progressive_cms.git
[submodule "sites/all/modules/nikadevs_cms"]
	path = sites/all/modules/nikadevs_cms
	url = git@gitlab.bluegrape.uk:drupal-modules/nikadevs_cms.git
[submodule "sites/all/modules/md_slider"]
	path = sites/all/modules/md_slider
	url = git@gitlab.bluegrape.uk:drupal-modules/md_slider.git
[submodule "sites/all/libraries/ckeditor"]
	path = sites/all/libraries/ckeditor
	url = git@gitlab.bluegrape.uk:drupal-libraries/ckeditor.git
[submodule "sites/default/files"]
	path = sites/default/files
	url = git@gitlab.bluegrape.uk:castle-school/content-files.git
